body {
  background-color: #d4418e;
  background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);  overflow-x: hidden;
  
  min-height: 95vh;
}

   /* CUSTOM CLASSES */


   .margin-top-5vh{
    margin-top: 5vh;
   }

   .margin-bottom-5vh{
    margin-bottom: 5vh;
   }
