.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color:indigo;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-inner-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-input {
  width: 98%;
  height: 6vh;
  margin-top: 5%;
  border: 3px solid  blue;
  border-radius: 100px;
  padding-left: 3%;
  font-size: large;
  font-weight: bold;
}
.login-header {
  color: blue;
  text-transform: uppercase;
  font-size: 3rem;
}
.login-btn-container {
  margin-top: 5%;
  display: flex;
  width: 100%;
  height: 7vh;
  margin-bottom: 10%;
}
.login-btn {
  text-transform: uppercase;
  width: 30%;
  height: 100%;
  border-radius: 100px;
  font-size: large;
  border: none;
  font-weight: bold;
}
.login-btn:first-of-type {
  color: white;
  background-color: blue;
}
.login-btn:first-of-type:hover {
  color:blue;
  background-image: none;
  background-color: white;
  cursor: pointer;
  border: 3px solid blue;
}
.login-btn:last-of-type {
  margin-left: auto;
  color: blue;
  background-image: none;
  background-color: white;
  border: 3px solid blue;
}
.login-btn:last-of-type:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
}

 @media screen and (max-width: 1100px)  {
  .login-container{
    width: 90%;
  }

  .login-header{
    font-size: xx-large;
  }
  .login-inner-container{
    width: 80%;
  }
  .login-input{
    font-size: medium;
  }
  .login-btn {
    width: 30vw;
    font-size: medium;
  }
  .login-btn:last-of-type{
    margin-left: auto;
  }
  .login-btn-container{
    margin-bottom: 10vh;
  }
}