.profile-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-container {
  margin-top: 10vh;
  width: 80%;
  background-color: white;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-header {
  text-transform: uppercase;
  color: red;
  font-size: 3rem;
  margin-top: 3vh;
  text-align: center;
}
.profile-duo {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profile-name {
  width: 60%;
  text-transform: uppercase;
  font-size: large;
  margin-top: 3vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-name > h1{
  color: blue;
}
.profile-img-container {
  width: 40%;
  height: 60vh;
}
.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.profile-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* APARTMENTS */

.profile-apartments-list {
  background-color: white;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-apartments-duo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-apartments-container {
  margin-top: 10vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.profile-btn {
  margin-left: auto;
  width: 10%;
  min-width: max-content;
  height: 7vh;
  color: blue;
  background-image: none;
  background-color: white;
  border: 3px solid blue;
  border-radius: 100px;
  font-size: large;
  font-weight: bold;
}
.profile-btn:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
}

.profile-apartment {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 900px) {
  .profile-apartments-duo {
    flex-direction: column;
  }
  .profile-btn {
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 10vh;
  }
  .profile-apartments-container {
    width: 90%;
  }

  .profile-duo{
    flex-direction: column;
  }
  .profile-img-container{
    width: 100%;
  }
  .profile-name{
    width: 100%;
    margin-bottom: 10vh;
  }
}
