.register-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #deebdd;
  background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-inner-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-input {
  width: 98%;
  height: 5vh;
  margin-top: 5%;
  border: 3px solid  #89d8d3;;
  border-radius: 10px;
  padding-left: 10px;
  font-size: x-large;
}
.register-header {
  color: #03c8a8;
  font-size: 3rem;
}
.register-btn-container {
  margin-top: 5%;
  display: flex;
  width: 100%;
  height: 8vh;
  margin-bottom: 10%;
}
.register-btn {
  width: 30%;
  height: 100%;
  border-radius: 10px;
  font-size: xx-large;
  border: none;
}
.register-btn:first-of-type {
  color: white;
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border-radius: 10px;
}
.register-btn:first-of-type:hover {
  color: #03c8a8;
  background-image: none;
  background-color: white;
  cursor: pointer;
  border: 3px solid #03c8a8;
}
.register-btn:last-of-type {
  margin-left: auto;
  color: #03c8a8;
  background-image: none;
  background-color: white;
  border: 3px solid #03c8a8;
}
.register-btn:last-of-type:hover {
  color: white;
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border-radius: 10px;
  cursor: pointer;
}

.register-duo-box {
  display: flex;
  width: 100%;
}
.register-duo-box > .register-input {
  width: 45%;
}
.register-duo-box > .register-input:last-of-type {
  margin-left: auto;
}

.no-border {
  border: none;
}

.register-photo {
  width: 20%;
}
.register-photo > input[type="file"] {
  display: none;
}
.custom-file-upload {

  display: flex;
  padding: 6px 12px;
  cursor: pointer;
  color: #03c8a8;
  align-items: center;
  justify-content: center;
  background-image: none;
  background-color: white;
  border: 3px solid #03c8a8;
}
.custom-file-upload:hover {
  color: white;
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1100px)  {
  .register-container{
    width: 90%;
  }
  .register-inner-container{
    width: 80%;
  }
  .register-input{
    font-size:medium;
  }
  .register-btn {
    width: 20vw;
    font-size: large;
  }
}
@media screen and (max-width: 500px)  {


.register-btn-container{
  margin-bottom: 20%;
}
}