.apartmentsPro-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apartmentsPro-inner-container {
  margin-top: 10vh;
  width: 100%;
  background-color: #deebdd;
  background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
  border-radius: 100px;
  display: flex;
  min-height: max-content;
}

.apartmentsPro-duo-hor {
  width: 100%;
  display: flex;
}
.apartmentsPro-duo {
  width: 40%;
  height: 60vh;
}
.apartmentsPro-img {
  width: 100%;
  border-radius: 100px;
  height: 100%;
}

.apartmentsPro-description {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apartmentsPro-status {
  display: flex;
}
.apartmentsPro-name {
  font-weight: bold;
  margin-top: 5vh;
  font-size: xx-large;
  text-transform: capitalize;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .apartmentsPro-duo-hor {
    flex-direction: column;
  }
  .apartmentsPro-duo {
    width: 100%;
    height: 50vh;
  }
  .apartmentsPro-description{
    width: 100%;
  }
  .apartmentsPro-status{
    margin-bottom: 5vh;
  }

}
